In [ ]:
import pandas as pd

In [ ]:
# 1. Creating a DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 40],
        'Salary': [50000, 60000, 70000, 80000]}

In [ ]:
df = pd.DataFrame(data)
print("DataFrame:")
print(df)

In [ ]:
# 2. Reading and Writing CSV Files
df.to_csv("sample.csv", index=False)  # Save DataFrame to CSV
df_read = pd.read_csv("sample.csv")  # Read CSV file
print("\nRead CSV:")
print(df_read)

In [ ]:
# 3. Selecting Columns
print("\nSelecting 'Name' column:")
print(df['Name'])

In [ ]:
# 4. Filtering Data
filtered_df = df[df['Age'] > 30]
print("\nFiltered Data (Age > 30):")
print(filtered_df)

In [ ]:
# 5. Adding a New Column
df['Bonus'] = df['Salary'] * 0.1
print("\nDataFrame with Bonus column:")
print(df)

In [ ]:
# 6. Sorting Data
sorted_df = df.sort_values(by='Salary', ascending=False)
print("\nSorted Data (by Salary):")
print(sorted_df)

In [ ]:
# 7. Grouping Data
grouped = df.groupby('Age').sum()
print("\nGrouped Data (Sum by Age):")
print(grouped)

In [ ]:
# 8. Handling Missing Values
df_with_nan = df.copy()
df_with_nan.loc[1, 'Salary'] = None  # Introduce NaN value

In [ ]:
print("\nDataFrame with NaN:")
print(df_with_nan)

In [ ]:
df_filled = df_with_nan.fillna(df_with_nan['Salary'].mean())  # Fill NaN with mean
print("\nFilled NaN with Mean Salary:")
print(df_filled)

In [ ]:
# 9. Merging DataFrames
df_extra = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie', 'David'],
                          'Department': ['HR', 'IT', 'Finance', 'Marketing']})

In [ ]:
merged_df = pd.merge(df, df_extra, on='Name')
print("\nMerged DataFrame:")
print(merged_df)

In [ ]:
# 10. Pivot Table
pivot = df.pivot_table(values='Salary', index='Age', aggfunc='sum')
print("\nPivot Table (Salary by Age):")
print(pivot)